<div class="content">
  <div class="row">
    <h1>Mis mierdas favoritas</h1>
  </div>

  <ul>
    {{#each mierdas as |mierda| }}
    {{#if mierda.favorite }}
    <li>
      <div class="box">
        <div class="zoom-nail">
          {{get_video_stream mierda}}
        </div>
        <div class="icons">
          <form action="/favorites/{{mierda.id}}/favorite" method="post">
              <button type="submit"><i class="fas fa-star {{#if mierda.favorite}}favorite{{/if}}"></i></button>
            </form> 
            <i class="fas fa-pencil-alt"></i>
          <form action="/favorites/{{mierda.id}}/delete" method="post">
            <button type="submit"><i class="fas fa-trash-alt"></i></button>
          </form> 
          <a href="{{mierda.url}}" target="_blank"><i class="fas fa-link"></i></a>
        </div>
      </div>
      <div class="box-info-content">
        <div class="box-info"></div>
          <h2>{{mierda.name}}</h2>
          <form action="/favorites/{{mierda.id}}/update" method="post">
            <input type="text" name="name" placeholder="{{mierda.name}}">
            <button class="btn btn-send" type="submit"><i class="fas fa-pencil-alt"></i> update</button>
            <i class="fas fa-times close"></i>
          </form>
      </div>
    </li>
  {{/if}}
  {{/each}}
  </ul>
</div>